body {
  font-family: 'Roboto', sans-serif;
  position: relative; 
	height: 500vh;

  /* IE10+ */ 
  background-image: -ms-linear-gradient(top, #ECEFF1 0%, #90CAF9 15%, #2196F3 33%, #0D47A1 60%, #0D47A1 80%, #263238 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #ECEFF1 0%, #90CAF9 15%, #2196F3 33%, #0D47A1 60%, #0D47A1 80%, #263238 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #ECEFF1 0%, #90CAF9 15%, #2196F3 33%, #0D47A1 60%, #0D47A1 80%, #263238 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ECEFF1), color-stop(15, #90CAF9), color-stop(33, #2196F3), color-stop(60, #0D47A1), color-stop(80, #0D47A1), color-stop(100, #263238));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #ECEFF1 0%, #90CAF9 15%, #2196F3 33%, #0D47A1 60%, #0D47A1 80%, #263238 100%);

  /* W3C Markup */ 
  background-image: linear-gradient(to bottom, #ECEFF1 0%, #90CAF9 15%, #2196F3 33%, #0D47A1 60%, #0D47A1 80%, #263238 100%);

  }

  #section1 {
	padding-top:10em;

	height:60vh;
  text-align: center;
	}

  #section2 {
	height:160vh;

	}

  #section3 {
	height:120vh;
	}

  #section4 {
  color: #FFEB3B;

  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;

	height:60vh;
  text-align: center;
  
  /* IE10+ */ 
  background-image: -ms-linear-gradient(top left, #FFEB3B 0%, #F44336 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top left, #FFEB3B 0%, #F44336 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top left, #FFEB3B 0%, #F44336 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFEB3B), color-stop(100, #F44336));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top left, #FFEB3B 0%, #F44336 100%);

  /* W3C Markup */ 
  background-image: linear-gradient(to bottom right, #FFEB3B 0%, #F44336 100%);
	}

  #section5 {
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
    
  font-size:2.5em;
	height:100vh;
  color:white;
  text-align: center;
	}

  #poseidon {
  width: 100%;
	padding-top:30vh;
  color: #0D47A1;
  position: fixed;
  text-align: center;
  font-size: 15vw;
  z-index: -10;
	}

  #arrow {
  z-index: 10;
  position: absolute;
  top: 66vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  width: 33vh;
  font-size: 15vw;
  color: red;
  text-align: center;
  }

  span.hello {
  font-weight: bolder;
  font-size: 2.5em;
  }

  span.quote {
  font-weight: bolder;
  font-size: 1.5em;
  }

  a.button {
  color: white;
  padding: 20px 30px;
  width: 12em;
  text-align: center;
  text-decoration: none;
  margin-right: 3em;
  float: right;

  -webkit-transition: width 3s; /* For Safari 3.1 to 6.0 */
  transition: width 3s;

  /* IE10+ */ 
  background-image: -ms-linear-gradient(top left, #FFEB3B 0%, #F44336 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top left, #FFEB3B 0%, #F44336 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top left, #FFEB3B 0%, #F44336 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFEB3B), color-stop(100, #F44336));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top left, #FFEB3B 0%, #F44336 100%);

  /* W3C Markup */ 
  background-image: linear-gradient(to bottom right, #FFEB3B 0%, #F44336 100%);
  }

  a:hover, a:active {
    background: teal;
  }

  div.awesome-info {
    padding-top: 10em;
  }

/*
#f478b8 pink
#59d4d9 blue
#59d9a4 green
#0D47A1 darkblue

#263238 charcoal

#ECEFF1
#90CAF9
#2196F3
#0D47A1
#263238
*/
